<!DOCTYPE html>
<html>
<head>
    <title>Shutterbug-Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'scripts/search.js' %}"></script>
    
</head>
<body>
  <nav class="py-2 primary-background border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="{% url 'home:home'%}" class="nav-link link-dark px-2">Home</a></li>
        <li class="nav-item"><a href="{% url 'home:about'%}" class="nav-link link-dark px-2">About</a></li>
        <li class="nav-item"><a href="{% url 'home:dashboard'%}" class="nav-link link-dark px-2">Dashboard</a></li>
        <li class="nav-item"><a href="{% url 'search:search'%}" class="nav-link link-dark px-2 active"  aria-current="page">Search Photographers</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="{% url 'home:login'%}" class="nav-link link-dark px-2">Login</a></li>
        <li class="nav-item"><a href="{% url 'home:logout'%}" class="nav-link link-dark px-2">Logout</a></li>
        <li class="nav-item"><a href="{% url 'home:signup'%}" class="nav-link link-dark px-2">Sign up</a></li>
      </ul>
    </div>
  </nav>
  <header class="pt-3 pb-2 border-bottom">
    <div class="container d-flex flex-wrap justify-content-start">
      <a href="{% url 'home:home'%}" class="align-items-center mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <span class="fs-4">{% load static %}<img src="{% static 'images/logo.png' %}" class="img-fluid" width="200px" alt='shutterbug logo'/></span>
      </a>
    </div>
  </header>
  <!--search form-->
  
  
  <div class="container my-4">
      <h2 class="display-5 text-center">Search For Photographers</h2>
      <p class="lead fs-4">Enter either City or Base Price:</p>
      <form class="my-3" action="/search" method="GET" id="searchForm">
              <div class="row mb-3">
                <label for="city" class="col-form-label col-sm-2 text-center text-sm-end">City:</label>
                <div class="col-sm-4">
                <input type="text" id="city" name="city" class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="city" class="col-form-label col-sm-2 text-center text-sm-end">Base Price:</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" id="baseprice" name="base_price" class="form-control col-3">
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-lg primary-background me-2" id="searchButton" disabled>Search</button>
                    <button type="reset" class="btn btn-lg primary-background" id="resetButton">Reset</button>
                  </div>
              </div>
      </form>
  </div>
  <!--results container-->
  {% if error_message %}
        <p class="alert alert-danger">
	    <strong>{{ error_message }}</strong>
        </p>
  {% endif %}
  {% if success_message %}
  <div class="container my-4" id="results">
    <h5 class="display-6 mb-3">Results:</h5>
    <div class="row">
        <div class="col-lg-5">
            <div class="list-group" id='resultsList'>
                {% for photographer in list %}
                  <button type="button" class="list-group-item list-group-item-action" value="{{ photographer.id }}">
                    <strong class="fs-5">{{ photographer.first_name }}</strong>
                    <p>City: {{ photographer.city }} &nbsp;&nbsp;Base Price: ${{ photographer.base_price }}</p>
                  </button>
                {% endfor %}
              </div>
        </div>
        <div class="col-lg-7 mt-2 mt-lg-0">
            <div class="card d-none"  id='profileCard'>
                <strong class="fs-5 card-header" id='cardName'>Photographer Name 1</strong>
                <div class="card-body">
                {% load static %}
                <img src="{% static 'images/blank.png' %}" class="card-img-top" width="100%" height="200" alt="profile picture">
                  <h6 class="card-title mt-3">City: <span id="cardCity"></span></h6>
                  <h6 class="card-title">Address: <span id="cardAddress"></span></h6>
                  <h6 class="card-title">Base Price: $<span  id="cardBasePrice"></span></h6>                  
                  <h6 class="card-title">Phone: <a href="tel:100-1231234" class="card-link"  id="cardPhone">100-1231234</a></h6>
                  <h6 class="card-title">Email: <a href="mailto:xxx@yyy.com" class="card-link" id="cardEmail">xxx@yyy.com</a></h6>
                  <h6 class="card-title">Select session date:</h6>
                  <form method="POST" id="bookingForm" action="{% url 'search:book' %}">{% csrf_token %}
                    <input class="form-control my-3" type="date" id="sessionDate" name="sessionDate">
                    <input type="email" name="photographerEmail" id="photographerEmail" hidden>
                    <button type="submit" class="btn primary-background" id="bookButton">Book</button>
                  </form>
                </div>
              </div>
        </div>
    </div>
  </div>
  {% endif %}
  <!--footer-->
  <footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3 primary-background">
        © 2020 Copyright:
        <a class="text-dark" href="{% url 'home:home'%}">Shutterbug.com</a>
      </div>
  </footer>
  </body>
  </html>